/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}

:root {
  --tipografia: Roboto, Sans-serif;
  --cor-primaria: #121212;
  --cor-secundaria: #212B46;
  --cor-terciaria: #FFFFFF;
  --cor-erro: #9d0000;
  --cor-aviso: #d5d500;
}

body {
  background-image: linear-gradient(var(--cor-primaria), var(--cor-secundaria));
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
